<% layout("/layout/boilerplate") %>
<body>

    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col indexWalaCard">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_images" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= listing.name %></b> <br>
                        <%= listing.title %> <br>
                      </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
   
</body>
